<!DOCTYPE html>
<html>
<head>
  <title>Abohd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div id="loggedin-wrapper">
<div class="container">
<!--menu partial-->
<div class="col-md-3">
<div class="list-group">
	<%= link_to "Dashboard", dashboard_path, :class  => action_name == 'dashboard' ? 'clickable list-group-item active' : 'clickable list-group-item' %>
	<%= link_to "Tenants", tenants_path, :class => action_name == 'tenants' ? 'clickable list-group-item active' : 'clickable list-group-item' %>
	<%= link_to messages_path, :class => action_name == 'messages' ? 'clickable list-group-item active' : 'clickable list-group-item' do %>
	<span class="badge">14</span>
	Messages
	<%end%>
	<%= link_to allmaintenance_path, :class => action_name == 'allmaintenance' ? 'clickable list-group-item active' : 'clickable list-group-item' do %>
	<span class="badge">1</span>
	Maintenance
	<%end%>

	<%= link_to "Community", community_path, :class => action_name == 'community' ? 'clickable list-group-item active' : 'clickable list-group-item' %>

</div>
<br>

</div>
<!--end-->




<div class="col-md-9">
<%= yield %>
</div>

</div><!--container-->

</div>

<%= render 'layouts/footer' %>


<script type="text/javascript">
	$(function() {
	    $(".clickable").click(function() {
	        $('.active').removeClass('  active');
	        $(this).addClass("active");

	    });
	});
</script>

</body>
</html>
